{{- if and .Values.oauth2Proxy.enabled .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "overleaf.fullname" . }}-oauth2-proxy
  labels:
    {{- include "overleaf.labels" . | nindent 4 }}
    app.kubernetes.io/component: oauth2-proxy
  annotations:
    {{- if .Values.ingress.className }}
    kubernetes.io/ingress.class: {{ .Values.ingress.className | quote }}
    {{- end }}
    nginx.ingress.kubernetes.io/proxy-body-size: "50m"
spec:
  {{- with .Values.ingress.className }}
  ingressClassName: {{ . }}
  {{- end }}
  {{- if .Values.ingress.tls }}
  tls:
    {{- range .Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          - path: /oauth2
            pathType: Prefix
            backend:
              service:
                name: {{ include "overleaf.fullname" $ }}-oauth2-proxy
                port:
                  number: 80
    {{- end }}
{{- end }}
