{{- if or (and .Values.oauth2Proxy.enabled (not .Values.oauth2Proxy.existingSecret)) (and .Values.smtp.host (not .Values.smtp.existingSecret)) -}}
{{- $oauth2Enabled := and .Values.oauth2Proxy.enabled (not .Values.oauth2Proxy.existingSecret) -}}
{{- $smtpEnabled := and .Values.smtp.host (not .Values.smtp.existingSecret) -}}
{{- if $oauth2Enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "overleaf.fullname" . }}-oauth2-proxy
  labels:
    {{- include "overleaf.labels" . | nindent 4 }}
type: Opaque
stringData:
  client-id: {{ .Values.oauth2Proxy.clientId | quote }}
  client-secret: {{ .Values.oauth2Proxy.clientSecret | quote }}
  cookie-secret: {{ .Values.oauth2Proxy.cookieSecret | quote }}
{{- end }}
{{- if and $smtpEnabled (or .Values.smtp.user .Values.smtp.password) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "overleaf.fullname" . }}-smtp
  labels:
    {{- include "overleaf.labels" . | nindent 4 }}
type: Opaque
stringData:
  smtp-user: {{ .Values.smtp.user | quote }}
  smtp-password: {{ .Values.smtp.password | quote }}
{{- end }}
{{- end }}
