{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "plmlatex.fullname" . }}
  annotations:
    {{- range $key, $value := .Values.ingress.annotations }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
spec:
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ include "plmlatex.fullname" . }}-sharelatex
            port:
              number: {{ .Values.sharelatex.service.port }}
  {{- if .Values.ingress.tls }}
  tls:
  {{- range .Values.ingress.tls }}
  - secretName: {{ .secretName }}
    hosts:
      {{- range .hosts }}
      - {{ . }}
      {{- end }}
  {{- end }}
  {{- end }}
{{- end }}
