# Default values for filesender.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: ghcr.io/mecmus/filesender
  pullPolicy: IfNotPresent
  tag: "3.3-php8.5.0"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80

persistence:
  enabled: true
  size: 10Gi
  accessModes:
    - ReadWriteOnce
  storageClass: ""

cronjob:
  enabled: true
  schedule: "0 1 * * *"

config:
  site_url: "http://filesender.example.com"
  admin_email: "admin@example.com"
  
  db:
    type: "sqlite"
    host: "/var/www/html/db/filesender.sqlite"
    port: 0
    name: "filesender"
    user: "filesender"
    password: ""

  sso:
    enabled: false
    type: "saml2"
    sp_entity_id: "https://filesender.example.com/simplesaml/module.php/saml/sp/metadata.php/default-sp"
    idp_entity_id: "https://sts.windows.net/TENANT-ID/"
    idp_sso_service_url: "https://login.microsoftonline.com/TENANT-ID/saml2"
    idp_certificate: ""

ingress:
  enabled: false
  className: ""
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "FASTCGI"
    nginx.ingress.kubernetes.io/fastcgi-index: "index.php"
    nginx.ingress.kubernetes.io/fastcgi-params-config: "default/filesender-fastcgi-params"
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

httpRoute:
  enabled: false
  annotations: {}
  parentRefs:
  - name: gateway
    sectionName: http
  hostnames:
  - chart-example.local
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /headers

resources: {}

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}
