replicaCount: 1
image:
  repository: ghcr.io/mecmus/filesender
  pullPolicy: IfNotPresent
  tag: "3.3-php8.5.0"
service:
  type: ClusterIP
  port: 80
persistence:
  enabled: true
  size: 10Gi
  accessModes:
    - ReadWriteOnce
config:
  site_url: "http://filesender.lan"
  admin_email: "admin@example.com"
  db:
    type: "sqlite"
    host: "/var/www/html/db/filesender.sqlite"
    port: 0
    name: "filesender"
    user: "filesender"
    password: ""
ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "FASTCGI"
    nginx.ingress.kubernetes.io/fastcgi-index: "index.php"
  hosts:
    - host: filesender.lan
      paths:
        - path: /
          pathType: ImplementationSpecific
