apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "discourse.fullname" . }}
  labels:
    {{- include "discourse.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "discourse.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "discourse.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "discourse.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          env:
            - name: RAILS_ENV
              value: "production"
            - name: DISCOURSE_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  {{- if .Values.postgresql.enabled }}
                  name: {{ .Values.postgresql.auth.existingSecret | default (include "discourse.fullname" .) }}
                  key: {{ .Values.postgresql.auth.existingSecretKey | default "postgres-password" }}
                  {{- else }}
                  name: {{ .Values.externalDatabase.existingSecret | default (include "discourse.fullname" .) }}
                  key: {{ .Values.externalDatabase.existingSecretKey | default "database-password" }}
                  {{- end }}
            {{- if or (and .Values.redis.enabled .Values.redis.auth.enabled) (and (not .Values.redis.enabled) .Values.externalRedis.password) }}
            - name: DISCOURSE_REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  {{- if .Values.redis.enabled }}
                  name: {{ .Values.redis.auth.existingSecret | default (include "discourse.fullname" .) }}
                  key: {{ .Values.redis.auth.existingSecretKey | default "redis-password" }}
                  {{- else }}
                  name: {{ .Values.externalRedis.existingSecret | default (include "discourse.fullname" .) }}
                  key: {{ .Values.externalRedis.existingSecretKey | default "redis-password" }}
                  {{- end }}
            {{- end }}
            {{- if .Values.discourse.smtp.password }}
            - name: DISCOURSE_SMTP_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.discourse.smtp.existingSecret | default (include "discourse.fullname" .) }}
                  key: {{ .Values.discourse.smtp.existingSecretKey | default "smtp-password" }}
            {{- end }}
            {{- if .Values.discourse.s3.enabled }}
            - name: DISCOURSE_S3_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.discourse.s3.existingSecret | default (include "discourse.fullname" .) }}
                  key: s3-access-key-id
            - name: DISCOURSE_S3_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.discourse.s3.existingSecret | default (include "discourse.fullname" .) }}
                  key: s3-secret-access-key
            {{- end }}
            {{- range .Values.discourse.extraEnv }}
            - name: {{ .name }}
              value: {{ .value | quote }}
            {{- end }}
          envFrom:
            - configMapRef:
                name: {{ include "discourse.fullname" . }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.startupProbe }}
          startupProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: shared
              mountPath: /shared
            {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
      volumes:
        - name: shared
          {{- if .Values.persistence.enabled }}
          persistentVolumeClaim:
            claimName: {{ include "discourse.fullname" . }}-shared
          {{- else }}
          emptyDir: {}
          {{- end }}
        {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
