apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "filesender.fullname" . }}-config
  labels:
    {{- include "filesender.labels" . | nindent 4 }}
data:
  config.php: |
    <?php
    $config['site_url'] = '{{ .Values.config.site_url }}';
    $config['admin_email'] = '{{ .Values.config.admin_email }}';
    
    $config['db_type'] = '{{ .Values.config.db.type }}';
    $config['db_host'] = '{{ .Values.config.db.host }}';
    $config['db_port'] = {{ .Values.config.db.port }};
    $config['db_database'] = '{{ .Values.config.db.name }}';
    $config['db_username'] = '{{ .Values.config.db.user }}';
    $config['db_password'] = '{{ .Values.config.db.password }}';

    {{- if .Values.config.sso.enabled }}
    $config['authentication'] = 'saml2';
    $config['saml_sp_entityid'] = '{{ .Values.config.sso.sp_entity_id }}';
    $config['saml_idp_entityid'] = '{{ .Values.config.sso.idp_entity_id }}';
    $config['saml_idp_sso_url'] = '{{ .Values.config.sso.idp_sso_service_url }}';
    $config['saml_idp_certificate'] = '{{ .Values.config.sso.idp_certificate }}';
    {{- end }}

  nginx.conf: |
    worker_processes 1;
    events { worker_connections 1024; }
    http {
      include /etc/nginx/mime.types;
      sendfile on;
      server {
        listen 80;
        root /var/www/html/www;
        index index.php;

        location / {
          try_files $uri $uri/ /index.php?$args;
        }

        location ~ \.php$ {
          fastcgi_pass localhost:9000;
          fastcgi_index index.php;
          include fastcgi_params;
          fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        }

        location ^~ /simplesaml {
          alias /var/www/simplesaml/www;
          location ~ ^(?<prefix>/simplesaml)(?<phpfile>.+?\.php)(?<pathinfo>/.*)?$ {
            include fastcgi_params;
            fastcgi_pass localhost:9000;
            fastcgi_param SCRIPT_FILENAME $document_root$phpfile;
            fastcgi_param PATH_INFO $pathinfo if_not_empty;
          }
        }
      }
    }
