apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "filesender.fullname" . }}-config
  labels:
    {{- include "filesender.labels" . | nindent 4 }}
data:
  config.php: |
    <?php
    $config['site_url'] = '{{ .Values.config.site_url }}';
    $config['admin_email'] = '{{ .Values.config.admin_email }}';
    
    $config['db_type'] = '{{ .Values.config.db.type }}';
    {{- if eq .Values.config.db.type "sqlite" }}
    $config['db_database'] = '{{ .Values.config.db.name }}';
    {{- else }}
    $config['db_host'] = '{{ .Values.config.db.host }}';
    $config['db_port'] = {{ .Values.config.db.port | default 5432 }};
    $config['db_database'] = '{{ .Values.config.db.name }}';
    $config['db_username'] = '{{ .Values.config.db.user }}';
    $config['db_password'] = '{{ .Values.config.db.password }}';
    {{- end }}

    {{- if .Values.config.sso.enabled }}
    $config['authentication'] = 'saml2';
    $config['saml_sp_entityid'] = '{{ .Values.config.sso.sp_entity_id }}';
    $config['saml_idp_entityid'] = '{{ .Values.config.sso.idp_entity_id }}';
    $config['saml_idp_sso_url'] = '{{ .Values.config.sso.idp_sso_service_url }}';
    $config['saml_idp_certificate'] = '{{ .Values.config.sso.idp_certificate }}';
    {{- end }}
