{{- if .Values.cleanup.enabled -}}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "filesender.fullname" . }}-cleanup
  labels:
    {{- include "filesender.labels" . | nindent 4 }}
spec:
  schedule: {{ .Values.cleanup.schedule | quote }}
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            {{- include "filesender.selectorLabels" . | nindent 12 }}
            app.kubernetes.io/component: cleanup
        spec:
          restartPolicy: OnFailure
          containers:
            - name: cleanup
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              command:
                - /bin/sh
                - -c
                - php /opt/filesender/filesender/scripts/task/garbagecollector.php
              env:
                {{- if .Values.postgresql.external.enabled }}
                {{- if .Values.postgresql.external.existingSecret }}
                - name: POSTGRES_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: {{ .Values.postgresql.external.existingSecret }}
                      key: {{ .Values.postgresql.external.secretKey }}
                {{- else }}
                - name: POSTGRES_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: {{ include "filesender.fullname" . }}
                      key: postgres-external-password
                {{- end }}
                {{- else if .Values.postgresql.internal.enabled }}
                - name: POSTGRES_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: {{ include "filesender.fullname" . }}
                      key: postgres-password
                {{- end }}
              volumeMounts:
                - name: filesender-config
                  mountPath: /opt/filesender/filesender/config/config.php
                  subPath: config.php
                {{- if .Values.persistence.enabled }}
                - name: filesender-data
                  mountPath: /var/www/files
                {{- end }}
          volumes:
            - name: filesender-config
              configMap:
                name: {{ include "filesender.fullname" . }}-filesender
            {{- if .Values.persistence.enabled }}
            - name: filesender-data
              persistentVolumeClaim:
                claimName: {{ include "filesender.fullname" . }}-data
            {{- end }}
{{- end }}
