{{- if .Values.cleanup.enabled -}}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ include "filesender.fullname" . }}-cleanup
  labels:
    {{- include "filesender.labels" . | nindent 4 }}
spec:
  schedule: {{ .Values.cleanup.schedule | quote }}
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: cleanup
            image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
            imagePullPolicy: {{ .Values.image.pullPolicy }}
            command:
            - php
            - /opt/filesender/filesender/scripts/taskprocessing.php
            env:
              - name: POSTGRES_PASSWORD
                valueFrom:
                  secretKeyRef:
                    {{- if .Values.postgresql.external.enabled }}
                    name: {{ .Values.postgresql.external.existingSecret | default (printf "%s-postgresql" (include "filesender.fullname" .)) }}
                    key: {{ .Values.postgresql.external.secretKey }}
                    {{- else }}
                    name: {{ include "filesender.fullname" . }}-postgresql
                    key: password
                    {{- end }}
            volumeMounts:
            - name: storage
              mountPath: /opt/filesender/filesender/files
            - name: config
              mountPath: /opt/filesender/filesender/config/config.php
              subPath: config.php
              readOnly: true
            - name: config
              mountPath: /opt/filesender/filesender/config/config_private.php
              subPath: config_private.php
              readOnly: true
          restartPolicy: OnFailure
          volumes:
          - name: storage
            {{- if .Values.persistence.enabled }}
            persistentVolumeClaim:
              claimName: {{ include "filesender.fullname" . }}-storage
            {{- else }}
            emptyDir: {}
            {{- end }}
          - name: config
            configMap:
              name: {{ include "filesender.fullname" . }}-config
{{- end }}

