apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "filesender.fullname" . }}
  labels:
    {{- include "filesender.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "filesender.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "filesender.labels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: fastcgi
              containerPort: 9000
              protocol: TCP
          volumeMounts:
            - name: config
              mountPath: /var/www/html/config/config.php
              subPath: config.php
              readOnly: true
            - name: storage
              mountPath: /var/www/html/files
            - name: db
              mountPath: /var/www/html/db
      volumes:
        - name: config
          configMap:
            name: {{ include "filesender.fullname" . }}-config
        - name: storage
          persistentVolumeClaim:
            claimName: {{ include "filesender.fullname" . }}-storage
        - name: db
          persistentVolumeClaim:
            claimName: {{ include "filesender.fullname" . }}-storage
