apiVersion: v1
kind: Secret
metadata:
  name: {{ include "filesender.fullname" . }}-simplesamlphp-cert
  labels:
    {{- include "filesender.labels" . | nindent 4 }}
type: Opaque
data:
  {{- $secretName := printf "%s-simplesamlphp-cert" (include "filesender.fullname" .) }}
  {{- $secret := lookup "v1" "Secret" .Release.Namespace $secretName }}
  {{- if $secret }}
  server.crt: {{ index $secret.data "server.crt" }}
  server.pem: {{ index $secret.data "server.pem" }}
  {{- else }}
  {{- $cert := genSelfSignedCert "filesender" nil (list "localhost" "127.0.0.1") 3650 }}
  server.crt: {{ $cert.Cert | b64enc }}
  server.pem: {{ $cert.Key | b64enc }}
  {{- end }}