{{- if .Values.postgresql.internal.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "filesender.fullname" . }}-postgresql
  labels:
    {{- include "filesender.labels" . | nindent 4 }}
    app.kubernetes.io/component: postgresql
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: postgresql
      port: 5432
      targetPort: postgresql
      protocol: TCP
  selector:
    {{- include "filesender.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: postgresql
{{- end }}
