apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "odk-central.fullname" . }}-enketo-config
  labels:
    {{- include "odk-central.labels" . | nindent 4 }}
data:
  config.json.template: |
    {
        "app name": "Enketo",
        "base path": "-",
        "encryption key": "${SECRET}",
        "id length": 31,
        "less secure encryption key": "${LESS_SECRET}",
        "linked form and data server": {
            "api key": "${API_KEY}",
            "authentication": {
                "type": "cookie",
                "url": "${BASE_URL}/login?next={RETURNURL}"
            },
            "name": "ODK Central",
            "server url": "${DOMAIN}"
        },
        "logo": {
            "source": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=",
            "href": ""
        },
        "offline enabled": true,
        "payload limit": "1mb",
        "port": "8005",
        "query parameter to pass to submission": "st",
        "redis": {
            "main": {
                "host": "{{ include "odk-central.enketoRedisMainHost" . }}",
                "port": "6379"
            },
            "cache": {
                "host": "{{ include "odk-central.enketoRedisCacheHost" . }}",
                "port": "6380"
            }
        },
        "support": {
            "email": "support@getodk.org"
        },
        "text field character limit": 1000000,
        "exclude non-relevant": true
    }
