apiVersion: v1
kind: Service
metadata:
  name: {{ include "odk-central.postgresHost" . }}
  labels:
    {{- include "odk-central.labels" . | nindent 4 }}
    app.kubernetes.io/component: postgres
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: postgres
      protocol: TCP
      name: postgres
  selector:
    {{- include "odk-central.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: postgres
